.SaveButton {
  color: #f40006;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SaveButton__name {
  font-size: 2rem;
  line-height: 1;
  margin: 6px auto;
}

.SaveButton__icon {
  font-size: 2.5rem;
  cursor: pointer;
}

.SaveButton__icon:hover + .SaveButton__name,
.SaveButton__icon:hover {
  transform: scale(1.1);
}

.SaveButton__icon:active + .SaveButton__name,
.SaveButton__icon:active {
  transform: scale(0.9);
}
