.Company {
  width: 100%;
  height: 100%;
  padding-bottom: 8rem;
  /* overflow-y: hidden; */
}

.Company__jobs {
  display: flex;
  justify-content: center;
  position: relative;
}
 
.Company__jobs__title {
  width: 80%;
  /* text-align: center; */
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem auto 6rem;
}

.Company__empty {
  width: 80%;
  margin: 0 auto;
}

