.JobDesc {
  width: 80%;
  margin: 4rem auto 0;
  height: 80%;
  overflow-y: scroll;
  color: #000000;
}

.JobDesc ul {
  margin: 3rem 0;
  padding-left: 2rem;
  list-style: circle;
}

.JobDesc li {
  margin: 1rem 0;
}

.JobDesc p {
  margin: 3rem 0;
  line-height: 1.8;
  color: #000000;
}

.JobDesc p,
.JobDesc li {
  font-size: 1.8rem;
  width: 80%;
}

@media (max-width: 1436px) {
  .JobDesc p,
  .JobDesc li {
    font-size: 1.6rem;
    width: 95%;
  }
}

@media (max-width: 1136px) {
  .JobDesc {
    width: 95%;
    height: auto;
  }
}
