.JobPost {
  width: 60%;
  height: 95vh;
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 13px;
  position: sticky;
  top: 0;
  margin-left: 2rem;
  -webkit-sticky: sticky;
}

.JobPost__header {
  width: 90%;
  height: 15%;
  /* height: auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  border-bottom: 1px solid #cccccc;
}

.JobPost__header_title {
  font-size: 3rem;
  font-weight: 600;
}

.JobPost__header_loc,
.JobPost__header_company {
  font-size: 2.4rem;
  font-weight: 400;
}

.JobPost__header_company {
  color: #0e30a7;
}

.JobPost__header_div {
  display: flex;
  justify-content: space-between;
}
.JobPost__header_buttons {
  width: 25%;
  display: flex;
  justify-content: space-around;
}

.JobDesc {
  height: 85%;
  overflow-y: scroll;
}

/* Close Icon */
.JobPost__close {
  display: none;
  /* position: sticky;
  -webkit-sticky: sticky; */
  position: fixed;
  top: 4rem;
  left: 90%;
  color: #ff0a0a;
  font-size: 4rem;
  cursor: pointer;
}

.JobPost__close:hover {
  color: #ff0a0aa4;
}

.JobPost.JobActive {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1436px) {
  .JobPost__header_loc,
  .JobPost__header_company {
    font-size: 1.8rem;
  }
  .JobPost__header_buttons {
    width: 35%;
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 1136px) {
  .JobPost {
    display: none;
    width: 95%;
    max-height: 100vh;
    height: 100vh;
    margin: 0 auto;
    position: fixed;
    flex-direction: column;
    padding: 2rem 0 4rem;
  }
  .JobPost__close {
    display: block;
  }
  .JobDesc {
    width: 95%;
  }
  .JobPost__header {
    border: none;
    margin: 0 auto 2rem;
    height: auto;
  }
  .JobPost__header_div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    width: 100%;
  }
  .JobPost__header_title {
    /* padding-top: 4rem; */
    font-size: 2.4rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .JobPost__header_loc,
  .JobPost__header_company {
    margin-bottom: 1rem;
  }
  .JobPost__header_buttons {
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
}
