.User {
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

.User__registration {
  width: 50%;
  margin: 5rem auto;
}

.User__registration__type {
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  height: 4rem;
}

.User__signIn,
.User__signUp,
.User__employerSignUp {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  border-bottom: 1px solid #447bff;
  background-color: #f2f2f2;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.User__signIn:hover,
.User__signUp:hover,
.User__employerSignUp:hover {
  background-color: #447cff8d;
}

.active {
  background-color: #447bff;
  cursor: auto;
}

.active:hover {
  background-color: #447bff;
  color: #000000;
}

/* .User__form {
  /* height: 70rem; */
  /* min-height: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  background-color: #447bff;
}  */
