.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 8rem; */
  padding: 0 2rem;
  height: 6rem;
  border-radius: 42px;
  background-color: #477bff;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}
.ButtonLight {
  background-color: #ffffff;
  color: #0e30a7;
  border: 0.5px solid #0e30a7;
  transition: background-color 0.1s ease-in;
}

.Button:hover {
  background-color: #0e30a7;
}

.Button:active {
  transform: scale(0.97);
}

.ButtonLight:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6);
  background-color: #ffffff;
}

.Button__name,
.Button__link {
  font-size: 2rem;
  font-weight: 400;
}

.Button__link {
  color: #ffffff;
  text-decoration: none;
}

.Button__icon {
  font-size: 4rem;
}

.ButtonShort {
  height: 3rem;
}

@media (max-width: 636px) {
  .Button {
    height: 4rem;
    padding: 0 1rem;
  }
  .Button__name,
  .Button__link {
    font-size: 1.4rem;
    font-weight: 400;
  }
}
