.SelectWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5rem;
  margin-bottom: 2rem;
  width: 80%;
}

.Label {
  margin-right: 2rem;
  font-size: 2.4rem;
  width: 10rem;
  text-align: center;
}

.Select {
  width: 30rem;
  height: 4.5rem;
  border: 1px solid #000000;
  border-radius: 3rem;
  padding: 0 2rem;
  font-size: 1.7rem;
  outline: none;
}

@media (max-width: 836px) {
  .Label,
  .LabelDark {
    font-size: 1.6rem;
    width: 6rem;
    margin-right: 2rem;
  }
}

@media (max-width: 636px) {
  .SelectWrapper {
    margin-right: 0;
  }

  .Select {
    width: 17rem;
    height: 3.5rem;
  }
}
