.Dashboard {
  width: 100%;
}
.Board {
  width: 90%;
  margin: 2rem auto;
  display: flex;
}
.Board__tab {
  margin-top: 2rem;
  height: 100%;
  position: sticky;
  -webkit-sticky: sticky;
  top: 2rem;
}

.Board__panel {
  border: 1px solid #000000;
  width: 100%;
  height: 80rem;
  overflow-y: auto;
  overflow-x: hidden;
  /* min-height: 80vh; */
}

@media (max-width: 836px) {
  .Board {
    flex-direction: column;
    width: 95%;
  }
  .Board__tab {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (max-width: 636px) {
}
