.InputWrapper {
  display: flex;
  align-items: center;
  margin-right: 5rem;
}

.Label {
  color: #ffffff;
}

.LabelDark {
  color: #000000;
}

.Label,
.LabelDark {
  margin-right: 2rem;
  font-size: 2.4rem;
  width: 10rem;
  text-align: center;
}

.Input {
  width: 30rem;
  height: 4.5rem;
  border: 1px solid #000000;
  border-radius: 3rem;
  padding: 0 2rem;
  font-size: 1.7rem;
  outline: none;
}

@media (max-width: 636px) {
  .InputWrapper {
    margin-right: 0;
  }

  .Label,
  .LabelDark {
    font-size: 1.6rem;
    width: 6rem;
    margin-right: 2rem;
  }

  .Input {
    width: 17rem;
    height: 3.5rem;
  }
}
